html {
  background-color: #dfdfdf;
}
main {
  background-color: #dfdfdf;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.table {
  /*margin-top: 10px;*/
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90% !important;
  background-color: white;
  margin-bottom: 0% !important;
}

.footer {
  position: fixed;
  text-align: center;
  padding: 10px 10px 10px 10px !important;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 50px;
}

.logo {
  width: 30px;
}

.tab_menu {
  margin-left: 63%;
}

.search_menu {
  margin-right: 10%;
}

.active {
  text-decoration: underline !important;
}
.textonav {
  color: white !important;
  font-size: 25px;
}
.textonavdesativo {
  color: rgb(245, 245, 245) !important;
  font-size: 25px;
}

.box {
  
  width: clamp(20vw, 2400px, 80vw);
  border: 7px solid rgb(25, 135, 84);
  height: 685px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 61px;
  background-color: white;
}
.lock {
  overflow: hidden;
  background-color: #dfdfdf;
}
.mudarfundo {
  background-color: #dfdfdf;
}
.logomaior {
  width: 85px;
  margin-left: 160px;
}
.tit_sobre {
  margin-right: 73%;
}
.pos {
  font-size: 19px;
}
.nome {
  text-align: justify;
  margin-left: 2%;
}
.preco {
  font-size: 20px;
}

.last24h {
  font-size: 20px;
}
.tamanho_coluna {
  width: 15%;
}

a {
  text-decoration: none !important;
  color: black !important;
}

button {
  border: none;
  background: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  text-align: center;
  margin-top: 0%;
}

p {
  margin-bottom: 0% !important;
  padding: 1%;
}

th {
  width: 100px !important;
}

.setas {
  width: 30px;
}

.logomoeda {
  width: 85px;
  margin: 10px;
}

.nome_moeda {
  margin-top: 30px;
}

.texto_detalhes {
  font-size: 40px;
  color: black;
}

.conteudo_detalhes {
  margin-top: 3%;
 
}

.butao_proximo {
  margin-left: 90% !important;
  margin-top: 5px !important;
  margin :auto;
  width: clamp(10vw, 10px, 10vw); 

}

.butao_anterior {
  margin-left: 40%;
  margin-top: 5px !important;
  margin :auto;
  width: clamp(10vw, 10px, 10vw);

}

.linha_butoes {
  margin-top: 30px !important;
}
.procurar {
  width: 18% !important;
}

.logo_fav {
  width: 45px;
  margin-right: 75%;
 

}

@media only screen and (max-width:1080px){

  .texto_detalhes{
  font-size: 20px;
  }
  .box{
  width: clamp(20vw, 750px, 80vw);
  border: 7px solid rgb(25, 135, 84);
  height: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 61px;
  background-color: white;
}
.butao_proximo {
  margin-left: 90% !important;
  margin-top: 5px !important;
  margin :auto;
  width: clamp(10vw, 10px, 10vw); 
  font-size: 10px;
  text-align: center;
  line-height: 15px;

}
.butao_anterior {
  margin-left: 90% !important;
  margin-top: 5px !important;
  margin :auto;
  width: clamp(10vw, 10px, 10vw); 
  font-size: 10px;
  text-align: center;
  line-height: 15px;

}
}
.navbar-toggler{

  background-color:white !important;
  
  
}

