html {
  background-color: #dfdfdf;
}
main {
  background-color: #dfdfdf;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.table {
  /*margin-top: 10px;*/
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90% !important;
  background-color: white;
  margin-bottom: 0% !important;
}

.footer {
  position: fixed;
  text-align: center;
  padding: 10px 10px 10px 10px !important;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 50px;
}

.logo {
  width: 30px;
}

.tab_menu {
  margin-left: 63%;
}

.search_menu {
  margin-right: 10%;
}

.active {
  text-decoration: underline !important;
}
.textonav {
  color: white !important;
  font-size: 25px;
}
.textonavdesativo {
  color: rgb(245, 245, 245) !important;
  font-size: 25px;
}

.box {
  width: 1400px;
  border: 7px solid;
  height: 685px;
  margin: 225px;
  margin-top: 50px;
  margin-bottom: 61px;
  background-color: white;
}
.lock {
  overflow: hidden;
  background-color: #dfdfdf;
}
.mudarfundo {
  background-color: #dfdfdf;
}
.logomaior {
  width: 85px;
  margin-left: 160px;
}
.tit_sobre {
  margin-right: 73%;
}
.pos {
  font-size: 19px;
}
.nome {
  text-align: justify;
  margin-left: 2%;
}
.preco {
  font-size: 20px;
}

.last24h {
  font-size: 20px;
}
.tamanho_coluna {
  width: 15%;
}

a {
  text-decoration: none !important;
  color: black !important;
}

button {
  border: none;
  background: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  text-align: center;
  margin-top: 0%;
}

p {
  margin-bottom: 0% !important;
  padding: 1%;
}

th {
  width: 100px !important;
}

.setas {
  width: 30px;
}

.logomoeda {
  width: 85px;
  margin: 10px;
}

.nome_moeda {
  margin-top: 30px;
}
